* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #E6EBE0;
}

/*HEADER*/
header {
    /*Container*/
    width: 100vw;
    background-color: #DBE0D5;
    box-shadow: 0 0 2px gray;
    padding: 30px 50px;
    /*Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #B82714;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    font-weight: 700;
}

.new-book-btn {
    /*Container*/
    width: 280px;
    background-color: #DBE0D5;
    border: 0.2em solid #5CA4A9;
    /*border-radius: 2em;*/
    padding: 10px;
    /*Font*/
    color: #5CA4A9;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: 700;
    /*Button settings*/
    cursor: pointer;
    outline: none;
    /*Transition*/
    transition: 0.3s;
}

.new-book-btn:hover {
    background-color: #5CA4A9;
    color: #E6EBE0;
}

.close-btn {
    width: 280px;
    background-color: #B82714;
    border: 0.2em solid #B82714;
    color: #E6EBE0;
    z-index: 1;
}

.close-btn:hover {
    background-color: #B82714;
}

/*Popup form*/
.popup-form {
    /*Container*/
    width: 20em;
    background-color: #E6EBE0;
    box-shadow: 0 0 2px gray;
    padding: 80px 20px 20px 20px;
    /*Initially hidden*/
    display: none;
    /*Position*/
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 0;
}

.popup-form form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

label, input, select, .form-btn {
    font-family: 'Merriweather', serif;
    outline: none;
}

label {
    margin-bottom: 5px;
    color: #317479;
    font-size: 16px;
    font-weight: 700;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
}

.form-btn {
    background-color: #5CA4A9;
    border: none;
    padding: 10px;
    color: #E6EBE0;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

/*MAIN*/
main {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 80vw;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

/*BOOK CONTAINER*/
.book-container {
    width: 20em;
    height: 20em;
    margin: 10px;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    /*Display*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-gap: 10px;
}

/*.book-container img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 5px;
}*/

.book-text {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    grid-column: 1/3;
}

.delete-btn, .complete-btn {
    width: 100%;
    height: 60%;
    border: none;
    color: #E6EBE0;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    outline: none;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}

.delete-btn {
    background-color: #B82714;
}

/*.complete-btn {
    /*background-color: rgba(92, 164, 169, 0.5);
}*/

/*NEW BOOK BUTTON*/
/*.btn-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*#btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

