* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #E6EBE0;
}

/*HEADER*/
header {
    /*Container*/
    width: 100vw;
    background-color: #DBE0D5;
    box-shadow: 0 0 2px gray;
    padding: 30px 50px;
    /*Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #B82714;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    font-weight: 700;
}

.new-book-btn {
    /*Container*/
    width: 200px;
    background-color: #DBE0D5;
    border: 0.2em solid #5CA4A9;
    /*border-radius: 2em;*/
    padding: 10px;
    /*Font*/
    color: #5CA4A9;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: 700;
    /*Button settings*/
    cursor: pointer;
    outline: none;
    /*Transition*/
    transition: 0.3s;
}

.new-book-btn:hover {
    background-color: #5CA4A9;
    color: #E6EBE0;
}

/*Popup form*/

.transparent {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    /*Initially hidden*/
    display: none;
    /*Position*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup-form {
    /*Container*/
    width: 50vw;
    background-color: #E6EBE0;
    box-shadow: 0 0 2px gray;
    padding: 20px;
    /*Initially hidden*/
    display: none;
    /*Position*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.popup-form form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.close-btn {
    align-self: flex-end;
    background-color: #E6EBE0;
    border: none;
    color: #5CA4A9;
    font-size: 18px;
    /*Button settings*/
    cursor: pointer;
    outline: none;
}

label, input, select, .form-btn {
    font-family: 'Merriweather', serif;
    outline: none;
}

label {
    margin-bottom: 5px;
    color: #317479;
    font-size: 16px;
    font-weight: 700;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
}

.form-btn {
    background-color: #5CA4A9;
    border: none;
    padding: 10px;
    color: #E6EBE0;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

/*MAIN*/
main {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 80vw;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*BOOK CONTAINER*/
.book-container {
    width: 300px;
    height: 450px;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    /*Display*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.book-container img, .book-container #no-img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    grid-column: 1/3;
}

.book-container #no-img {
    color: #5CA4A9;
    font-size: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-container p {
    font-family: 'Merriweather', serif;
    font-size: 13px;
    grid-column: 1/3;
}

.delete-btn, .complete-btn {
    width: 100%;
    height: 40px;
    border: none;
    color: #E6EBE0;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    outline: none;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}

.delete-btn {
    background-color: #B82714;
}